@import "tailwindcss" important;
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background-light: #faffff;
  --background-dark: oklch(18.7% 0.025 202.1);
  --background: var(--background-light);

  &[data-theme="dark"] {
    --background: var(--background-dark);
  }

  &[data-theme="system"] {
    @media (prefers-color-scheme: dark) {
      --background: var(--background-dark);
    }
    @media (prefers-color-scheme: light) {
      --background: var(--background-light);
    }
  }
}

@theme inline {
  --color-*: initial;
  --shadow-*: initial;
  --font-size-*: initial;
}

@import "radix-themes-tw";

.radix-themes {
  --default-font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

body {
  background-color: var(--background);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@layer utilities {
  .container2 {
    @apply xs:px-6 mx-auto w-full max-w-3xl px-4;
  }

  /*.rt-reset {
    transition: background-color ease-in 150ms !important;
  }*/
}

@layer base {
  * {
    @apply border-gray-6;
  }
}
