---
import App from "@/app/main";
import "@/globals.css";

import "@fontsource-variable/inter";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />

    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/fontawesome/css/solid.css" rel="stylesheet" />

    <title>Todos</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>
