---
import "@radix-ui/themes/styles.css";
import "@/styles/globals.css";
import "@/styles/theme.css";

import { pwaInfo } from "virtual:pwa-info";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />

    <title>Todos</title>

    <script src="/src/lib/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />
  </body>
</html>
