---
import RootLayout from "@/layouts/root-layout.astro";
import AppLayout from "@/layouts/app-layout.astro";
import Adder from "@/app/components/adder.tsx";
import TodoList from "@/app/components/todo-list.tsx";
---

<RootLayout>
  <AppLayout>
    <main class="container2 flex flex-col items-center gap-4 pt-6">
      <article class="flex w-full flex-col gap-4">
        <Adder client:only="react" />
        <TodoList client:only="react" />
      </article>
    </main>
  </AppLayout>
</RootLayout>
