---
import { buttonVariants } from "@/components/ui/button";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import Root from "@/layouts/root.astro";
import api from "@/lib/client";
import { cn } from "@/lib/utils";
import { Github } from "lucide-react";
---

<Root>
  <main class="container2 py-6">
    <Card>
      <CardHeader>
        <CardTitle>Sign In</CardTitle>
      </CardHeader>
      <CardContent>
        <a class={cn("w-full", buttonVariants())} href="/api/auth/login/github">
          <Github size={"1rem"} className="mr-2" />
          Sign in with GitHub
        </a>
      </CardContent>
    </Card>
  </main>
</Root>
