---
import LoginButton from "@/components/login-button";
import RadixProvider from "@/components/radix-provider";
import RootLayout from "@/layouts/root-layout.astro";
import { Heading, Text } from "@radix-ui/themes";

export const prerender = true;
---

<RootLayout>
  <RadixProvider>
    <div class="h-screen flex items-center justify-center">
      <main class="max-w-lg w-full mx-auto grid gap-6 px-4 pb-32">
        <div class="flex items-center justify-center">
          <i class="text-accent-10 text-[5rem] fa-solid fa-check-double"></i>
        </div>
        <section class="prose w-full max-w-none text-center dark:prose-invert">
          <Heading size="8" mb="2">Todos</Heading>
          <Text>A robust and feature-poor todo app</Text>
        </section>
        <div class="grid gap-2">
          <LoginButton provider="github" />
          <LoginButton provider="google" />
        </div>
      </main>
    </div>
  </RadixProvider>
</RootLayout>
