@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 99.5%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 5%;

    --primary: 178 77% 48%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 91%;
    --input: 0 0% 84%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #89f7fe, #66a6ff);

    --background: 195 63.699999999999996% 6.08%;
    --foreground: 195 9.8% 98.8%;

    --muted: 195 49% 22.8%;
    --muted-foreground: 195 9.8% 57.6%;

    --popover: 195 45.4% 9.88%;
    --popover-foreground: 195 9.8% 98.8%;

    --card: 195 45.4% 9.88%;
    --card-foreground: 195 9.8% 98.8%;

    --border: 195 49% 22.8%;
    --input: 195 49% 22.8%;

    --primary: 195 98% 76%;
    --primary-foreground: 195 9.8% 7.6%;

    --secondary: 195 49% 22.8%;
    --secondary-foreground: 195 9.8% 98.8%;

    --accent: 195 49% 22.8%;
    --accent-foreground: 195 9.8% 98.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 195 9.8% 98.8%;

    --ring: 195 98% 76%;
  }
}

@layer base {
  :root {
    @apply text-lg sm:text-base;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .container2 {
    @apply mx-auto w-full max-w-md px-4 lg:max-w-xl;
  }
}
