@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    --background: 180 8% 97%;
    --foreground: 180 8% 5%;

    --card: 180 10% 95%;
    --card-foreground: 180 8% 5%;

    --popover: 180 10% 94%;
    --popover-foreground: 180 8% 5%;

    --primary: 173 80% 40%;
    --primary-foreground: 120 9% 2%;

    --secondary: 170 12% 91%;
    --secondary-foreground: 180 8% 5%;

    --muted: 180 8% 91%;
    --muted-foreground: 174 9% 45%;

    --accent: 180 8% 91%;
    --accent-foreground: 180 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 9% 87%;
    --input: 173 9% 80%;
    --ring: 173 36% 72%;

    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

      /* CSS: .bg-gradient { background: var(--gradient) } */
      --gradient: #fbd3e9;

      --background: -35 53.949999999999996% 7.28%;
      --foreground: -35 8.299999999999999% 99.55%;

      --muted: -35 41.5% 27.3%;
      --muted-foreground: -35 8.299999999999999% 59.1%;

      --popover: -35 48.400000000000006% 11.83%;
      --popover-foreground: -35 8.299999999999999% 99.55%;

      --card: -35 48.400000000000006% 11.83%;
      --card-foreground: -35 8.299999999999999% 99.55%;

      --border: -35 41.5% 27.3%;
      --input: -35 41.5% 27.3%;

      --primary: -35 83% 91%;
      --primary-foreground: -35 8.299999999999999% 9.1%;

      --secondary: -35 41.5% 27.3%;
      --secondary-foreground: -35 8.299999999999999% 99.55%;

      --accent: -35 41.5% 27.3%;
      --accent-foreground: -35 8.299999999999999% 99.55%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: -35 8.299999999999999% 99.55%;

      --ring: -35 83% 91%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-gutter: static right;
  }
  .container2 {
    @apply mx-auto w-full max-w-md px-2 lg:max-w-xl;
  }

  @media (pointer: coarse) {
    :root {
      font-size: 18px;
    }
  }
}
