@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;
}

@layer base {
  :root {
    color-scheme: light;
    --gradient: #115e59;
    --background: 187 98.45% 98.44%;
    --foreground: 187 6.8999999999999995% 0.88%;

    --muted: 187 6.8999999999999995% 92.2%;
    --muted-foreground: 187 3.4499999999999997% 42.2%;

    --popover: 187 41.010000000000005% 95.32%;
    --popover-foreground: 187 6.8999999999999995% 1.1%;

    --card: 187 41.010000000000005% 95.32%;
    --card-foreground: 187 6.8999999999999995% 1.1%;

    --border: 187 11.899999999999999% 89.88%;
    --input: 187 11.899999999999999% 89.88%;

    --primary: 187 69% 22%;
    --primary-foreground: 187 1.38% 92.2%;

    --secondary: 187 28.29% 87.52%;
    --secondary-foreground: 187 5.14% 12.2%;

    --accent: 187 28.29% 87.52%;
    --accent-foreground: 187 5.14% 12.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 187 69% 22%;

    --radius: 0.7rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --gradient: #5eead4;

      --background: 181 50.050000000000004% 5.12%;
      --foreground: 181 7.7% 98.2%;

      --muted: 181 38.5% 19.2%;
      --muted-foreground: 181 7.7% 56.4%;

      --popover: 181 49.6% 8.32%;
      --popover-foreground: 181 7.7% 98.2%;

      --card: 181 49.6% 8.32%;
      --card-foreground: 181 7.7% 98.2%;

      --border: 181 38.5% 19.2%;
      --input: 181 38.5% 19.2%;

      --primary: 181 77% 64%;
      --primary-foreground: 181 7.7% 6.4%;

      --secondary: 181 38.5% 19.2%;
      --secondary-foreground: 181 7.7% 98.2%;

      --accent: 181 38.5% 19.2%;
      --accent-foreground: 181 7.7% 98.2%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 181 7.7% 98.2%;

      --ring: 181 77% 64%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-gutter: static right;
  }
  .container2 {
    @apply mx-auto w-full max-w-md px-4 lg:max-w-xl;
  }

  @media (pointer: coarse) {
    :root {
      @apply text-lg;
    }
  }
}
