---
import { Toaster } from "@/components/ui/sonner";
import "@/globals.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="manifest.json" />
    <title>Todos</title>
  </head>
  <body>
    <Toaster client:load />
    <slot />
  </body>
</html>
