---
import "@radix-ui/themes/styles.css";
import "@/globals.css";
import "@/theme.css";

import "@fontsource-variable/inter";
import "@fontsource-variable/rubik";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />

    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/fontawesome/css/solid.css" rel="stylesheet" />

    <title>Todos</title>
  </head>
  <body>
    <slot />
  </body>
</html>
